/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Liberation Sans", "Open Sans";

// colors
$body-color: #000000;
$tabset-border-color: #000000;
$presentation-heading-color: #006747;

// headings
$presentation-heading-font: $font-family-sans-serif;

/*-- scss:rules --*/

// make logo slightly bigger
.reveal .slide-logo {
  max-height: 5rem !important;
}
